<footer class="flex items-center justify-between h-16 text-xl px-6 py-4">
  <a
    class="text-[#323341] p-1 border-4 border-[#323341] rounded font-semibold bg-white hover:border-[#323341] hover:text-white hover:bg-[#323341]"
    href="/">Volver a inicio</a
  >
  <p>© Anopheles Colombia 2024.</p>
</footer>
