<div class="flex flex-grow basis-0">
  <a href="/"
    ><img class="w-40" src="Logo.svg" alt="Logo Freddy Ruiz, Biologo, PHD" /></a
  >
</div>

<nav>
  <ul
    class="flex text-lg [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 font-bold"
  >
    <li><a href="/">Inicio</a></li>
    <li><a href="/#blog">Blog</a></li>
    <li><a href="/">Contacto</a></li>
  </ul>
</nav>

<nav class="flex flex-grow basis-0 justify-end z-10">
  <a
    href="https://www.linkedin.com/in/john-freddy-ruiz-lopez-phd-096a1716a/"
    target="_blank"><img src="socialLink.svg" alt="Linkedin Freddy" /></a
  >
</nav>
